.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}
form input {
  width: 20%;
  align-self: center;
}

form button {
  width: 5%;
  align-self: center;
}
.ingredients_box li {
  list-style-type: none;
}
.owned_ingredient {
  font-weight: bold;
}
.results ul li {
  list-style-type: none;
}
