* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}
form input {
  width: 20%;
  align-self: center;
}

form button {
  width: 5%;
  align-self: center;
}
.ingredients_box li {
  list-style-type: none;
}
.ingredients_box ul {
  padding-left: 0px;
}
.owned_ingredient {
  font-weight: bold;
}
.results ul li {
  list-style-type: none;
}
.results ul {
  padding-left: 0px;
}
